:root {
    --bg: #ffffff;
    --text: #121212;
    --accent: #8e8e8e;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    position: sticky;
    top: 0;
    background:  rgb(68, 96, 112);
    z-index: 100;
}

.logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8rem;
    letter-spacing: 6px;
    font-weight:900;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.subtitle {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: var(--accent);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.hero h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 400;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 80px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    position: relative;
    height: 550px;
    overflow: hidden;
    cursor: pointer;
    background-color: #244a64;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(40%);
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    color: white;
    text-align: center;
}

.card h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Hover State */
.card:hover img {
    transform: scale(1.05);
    filter: grayscale(0%);
}

/* Mobile Responsive */
@media (max-width: 900px) {
    .category-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .category-grid { grid-template-columns: 1fr; }
    .card { height: 450px; }
}